<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../static/css/fonts.css">
<link rel="stylesheet" type="text/css" href="../static/css/default.css">

<!--<link rel="stylesheet" type="text/css" href="C:\Users\Ankit\Desktop\pneumonia\_include\css\fonts.css">-->
<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">HealthCAD</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="active"><a href="#" accesskey="1" title="">Homepage</a></li>
				<li><a href="#" accesskey="3" title="">About Us</a></li>
				<li><a href="#" accesskey="5" title="">Contact Us</a></li>
			</ul>
		</div>
	</div>
	<div id="banner" class="container">
		<div class="title">
			<h2>This is our capstone project</h2>
			<span class="byline"></span>
		</div>
		<ul class="actions">
			<li><a href="#" class="button">Instructions</a></li>
		</ul>
	</div>
</div>
<div id="wrapper">
	<div id="three-column" class="container">
		<div class="title">
			<h2>There are three classifiers as follows</h2>
			<span class="byline"></span>
		</div>
		<div class="boxA">
			<i class="fa fa-medkit" aria-hidden="true"></i>
			<p>Detect Pneumonia</p>
			<a href="/pneumonia" target="_" class="button button-alt">Click here</a>
		</div>
		<div class="boxB">
			<i class="fa fa-heart" aria-hidden="true"></i>
			<p>Check ECG analysis</p>
			<a href="#" class="button button-alt">Click here</a>
		</div>
		<div class="boxC">
			<i class="fa fa-ambulance" aria-hidden="true"></i>
			<p>Malaria Detection</p>
			<a href="#" class="button button-alt">Click here</a>
		</div>
	</div>
</div>
<div id="welcome">
	<div class="container">
		<div class="title">
			<h2>What is HealthCAD?</h2>
			<span class="byline">An idea thought can only be called a solution if it solves a potential problem.</span>
		</div>
		<p>This is <strong>HealthCAD</strong>, a software cum hardware system that would enable the citizens to know the accurate results about the problem they face, so that they can receive proper treatment beforehand. Our product also accumulates the data which is uploaded by user for getting predictions which helps in tuning our model better and improve with time. It can also act as a second opinion to doctor for verification purposes as well. The device can diagnose various diseases which range from heart diseases to pneumonia. </p>
		
	</div>
</div>
<div id="copyright" class="container">
	<p>&copy; Untitled. All rights reserved.| Design by <a href="http://templated.co" rel="nofollow">xyz</a>.</p>
</div>
</body>
</html>
